<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 historyPage">

    <div class="pageHeader history">
        <span class="headerText">Your Expense History</span>
    </div>


    <div class="col-md-8 barChartBlock section">
        Bar chart chart Section

    </div>

    <div class="col-md-2 totalExpense section">
        Total Expense Section
    </div>


</div>


<button type="button" class="btn btn-info"><i class="fa fa-plus-square-o" aria-hidden="true"></i>
    Add New Expense
</button>